{{- if not .Values.config.existingConfigMap -}}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "openclaw.configMapName" . }}
  labels:
    {{- include "openclaw.labels" . | nindent 4 }}
data:
  {{ .Values.config.key }}: |-
    {{- include "openclaw.configJson" . | nindent 4 }}
{{- end }}
