.idea

# ignore fetched subcharts
**/charts/**/charts

# ignore testing files
**/override.yaml

.DS_Store
*ignore*

# Node.js dependencies
node_modules/
**/node_modules/

# obol-api/
# charon-dkg-output/
# llmdocs/
# charon/