{{- if and (eq .Values.role "sequencer") (not .Values.sequencer.attesterPrivateKeySecretName) }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "chart.resourceName" . }}-keystore
  labels:
    {{- include "chart.labels" . | nindent 4 }}
stringData:
  keystore.json: |
    {
      "schemaVersion": 1,
      "validators": [
        {
          "attester": ["{{ .Values.sequencer.attesterPrivateKey }}"],
          "feeRecipient": "{{ .Values.sequencer.feeRecipient }}"
        }
      ]
    }
{{- end }}
