apiVersion: v1
kind: Service
metadata:
  name: {{ include "release.name" . }}
  labels:
    {{- include "charon.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.httpPort }}
      targetPort: validator-api
      protocol: TCP
      name: validator-api
    - port: {{ .Values.p2pPort }}
      targetPort: p2p-tcp
      protocol: TCP
      name: p2p-tcp
    - port: {{ .Values.p2pPortUDP }}
      targetPort: p2p-udp
      protocol: UDP
      name: p2p-udp
    - port: {{ .Values.monitoringPort }}
      targetPort: monitoring
      protocol: TCP
      name: monitoring
  {{- if .Values.extraPorts -}}
    {{ toYaml .Values.extraPorts | nindent 4}}
  {{- end }}
  selector:
    {{- include "charon.selectorLabels" . | nindent 4 }}
