name: Lint Charts

on: pull_request

jobs:
  lint-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Set up Helm
        uses: azure/setup-helm@v4
        with:
          version: v3.13.3

      - uses: actions/setup-python@v6
        with:
          python-version: 3.14

      - name: Run pre-commit hooks
        uses: pre-commit/action@v3.0.1
